<section id="about">
  <div class="container about-block">
    <h2 class="about-title">About Us</h2>
    <div class="about-tap-me">
      <svg class="tap-me-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-arrow-down"></use>
      </svg>
      <p class="tap-me-text">*Tap me :)</p>
    </div>
    <div class="about-blok-image">
      <div class="about-image">
        <span class="about-blur">
          <img class="about-blur-image" src="./img/plus.png" alt="plus icon" />
        </span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
        <span class="about-blur"
          ><img class="about-blur-image" src="./img/plus.png" alt="plus icon"
        /></span>
      </div>
      <p class="about-article">
        <span class="main-text"
          >Merge Farm Life: Mansion Story is a captivating and relaxing merge
          puzzle game where players combine items to create new objects and
          expand their farm and mansion. Embark on a journey to restore an old,
          abandoned mansion to its former glory while cultivating a lush
          farm<span class="text-dot">...</span></span
        ><span class="more-text"
          >The game features fun merging mechanics, beautiful visuals, and an
          immersive story. Perfect for casual gamers, it combines creativity and
          strategy with a satisfying progression system. Explore charming
          environments, solve puzzles, and create the ultimate farm and mansion
          experience!</span
        ><button class="more-button">Read more</button>
      </p>
    </div>
  </div>
</section>
