<section class="features-section" id="features">
  <div class="features-container">
    <h1 class="features-title">Features</h1>
    <ul class="features-list">
      <li class="features-list-item">
        <div class="features-list-item-container">
          <h2 class="features-list-item-title">Unique Merging Gameplay</h2>
          <span class="features-list-item-dot"
            ><svg class="arrow-icon" width="10" height="10">
              <use href="./img/sprite.svg#icon-ellipse"></use>
            </svg>
          </span>
          <p class="features-list-item-text">
            Combine items and farm produce to create new and more powerful
            objects, unlocking new areas and helping you progress.
          </p>
          <span class="features-list-item-line"
            ><svg class="arrow-icon">
              <use href="./img/sprite.svg#Line"></use>
            </svg>
          </span>
          <span class="features-list-item-line-dt1"
            ><svg class="arrow-icon">
              <use href="./img/sprite.svg#icon-Line-1"></use>
            </svg>
          </span>
        </div>
      </li>

      <li class="features-list-item">
        <div class="features-list-item-container">
          <h2 class="features-list-item-title">
            Stunning Mansion and Farm Design
          </h2>
          <span class="features-list-item-dot"
            ><svg class="dot-icon" width="10" height="10">
              <use href="./img/sprite.svg#icon-ellipse"></use>
            </svg>
          </span>
          <p class="features-list-item-text">
            Combine items and farm produce to create new and more powerful
            objects, unlocking new areas and helping you progress.
          </p>
          <span class="features-list-item-line"
            ><svg class="arrow-icon">
              <use href="./img/sprite.svg#Line"></use>
            </svg>
          </span>
          <span class="features-list-item-line-dt2"
            ><svg class="arrow-icon">
              <use href="./img/sprite.svg#icon-Line-2"></use>
            </svg>
          </span>
        </div>
      </li>
      <li class="features-list-item">
        <div class="features-list-item-container">
          <h2 class="features-list-item-title">Relaxing</h2>
          <h2 class="features-list-item-subtitle">Storyline</h2>
          <span class="features-list-item-dot"
            ><svg class="dot-icon" width="10" height="10">
              <use href="./img/sprite.svg#icon-ellipse"></use>
            </svg>
          </span>
          <p class="features-list-item-text">
            Uncover the hidden secrets of the mansion as you complete puzzles
            and unlock new chapters in the story.
          </p>
          <span class="features-list-item-line"
            ><svg class="arrow-icon">
              <use href="./img/sprite.svg#Line"></use>
            </svg>
          </span>
          <span class="features-list-item-line-dt3"
            ><svg class="arrow-icon">
              <use href="./img/sprite.svg#icon-Line-3"></use>
            </svg>
          </span>
        </div>
      </li>
      <li class="features-list-item">
        <div class="features-list-item-container">
          <h2 class="features-list-item-title">Offline Play</h2>
          <span class="features-list-item-dot"
            ><svg class="dot-icon" width="10" height="10">
              <use href="./img/sprite.svg#icon-ellipse"></use>
            </svg>
          </span>
          <p class="features-list-item-text">
            Enjoy solving puzzles and building your farm and mansion even when
            you don't have access to the internet.
          </p>
          <span class="features-list-item-line"
            ><svg class="arrow-icon">
              <use href="./img/sprite.svg#Line"></use>
            </svg>
          </span>
          <span class="features-list-item-line-dt4"
            ><svg class="arrow-icon">
              <use href="./img/sprite.svg#icon-Line-4"></use>
            </svg>
          </span>
        </div>
      </li>
      <li class="features-list-item">
        <div class="features-list-item-container">
          <h2 class="features-list-item-title">Daily Rewards and Events</h2>
          <span class="features-list-item-dot"
            ><svg class="dot-icon" width="10" height="10">
              <use href="./img/sprite.svg#icon-ellipse"></use>
            </svg>
          </span>
          <p class="features-list-item-text">
            Log in every day for exciting bonuses, participate in limited-time
            events, and earn exclusive rewards.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
