<footer class="footer">
  <div class="footer-container">
    <div class="footer-bg-container">
      <div class="footer-bottom-bg"></div>
      <div class="footer-top-bg"></div>
    </div>
    <ul class="footer-links">
      <li>
        <a href="./privacy-policy.html" class="footer-link">Privacy Policy</a>
      </li>
      <li>
        <a href="./terms-conditions.html" class="footer-link"
          >Terms and Conditions</a
        >
      </li>
    </ul>
    <div class="footer-text">All rights reserved bestpathstar.com | 2024</div>
  </div>
</footer>
