<header class="container header">
  <div class="header-box">
    <a href="index"
      ><img
        class="logo-image"
        src="../img/mergemansionlogo.png"
        alt="Merge mansion logo"
    /></a>
    <nav class="nav-list">
      <button class="menu-button">
        <svg class="header-svg">
          <use href="../img/sprite.svg#icon-table-alternative"></use>
        </svg>
      </button>
      <a class="nav-link" href="">Reviews</a>
      <a class="nav-link" href="">About Us</a>
      <a class="nav-link" href="">Features</a>
      <a class="nav-link" href="">Gallery</a>
      <a class="nav-link" href="">FAQ</a>
    </nav>
  </div>
</header>
