<section class="hero">
  <div class="container hero-bg">
    <h1 class="hero-title">Merge Farm Life: Mansion Story</h1>
    <p class="hero-paragraph">
      Merge, Build, and Uncover the Secrets of a Magical Farm Mansion!
    </p>

    <a
      class="hero-link"
      href="https://play.google.com/store/apps/details?id=com.enjoysports.merge.farm.life.merge.games"
      target="_blank"
    >
      <img
        class="hero-play-image"
        src="./img/512x512 1.png"
        alt="Button for downloading app with play-market"
    /></a>
  </div>
</section>
