<section class="hero">
  <div class="container hero-bg">
    <h1 class="hero-title">Merge Farm Life: Mansion Story</h1>
    <p class="hero-paragraph">
      Merge, Build, and Uncover the Secrets of a Magical Farm Mansion!
    </p>
    <div class="hero-play-button">
      <button class="play-button">
        <img
          class="hero-play-image"
          src="../img/play-market.png"
          alt="Button for downloading app with play-market"
        />
      </button>
    </div>
  </div>
</section>
