.gallery-section {
  padding-top: 55px;
  background-color: #ebd9b6;

  @include media(desktop) {
    padding-top: 45px;
    position: relative;
    height: 641px;
  }
}

.gallery-title {
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 140%;
  color: #71412b;
  text-align: center;
}

.gallery-swiper-container {
  overflow: hidden;
  margin-top: 32px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin-top: 75px;
    height: 423px;
  }
}

.controls {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    top: 365px;
    left: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 832px;
    z-index: 2;
  }
}

.gallery-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.gallery-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.3s ease;

  @include media(desktop) {
    width: 762px;
    height: 423px;
  }
}

.gallery-slide .swiper-slide-prev .gallery-img,
.gallery-slide .swiper-slide-next .gallery-img,
.swiper-slide-next,
.swiper-slide-prev {
  @include media(desktop) {
    width: 378px !important;
    height: 273px !important;
  }
}

.gallery-slide .swiper-slide-active .gallery-img,
.swiper-slide-active {
  @include media(desktop) {
    width: 762px !important;
    height: 423px !important;
  }
}

.gallery-action-container {
  position: relative;

  @include media(desktop) {
    display: none;
  }
}

.gallery-action-icon {
  position: absolute;
  top: 0px;
  left: 210px;
}

.gallery-action-text {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 245px;
  transform: rotate(-20deg);
  display: inline-block;
}

.arrow-btn {
  transition: transform 0.3s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    background-color: #71412b80;
  }
  &active {
    background-color: #71412b;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}
