.review-section {
  .block-review {
    background-image: url('../img/frame.png');
    padding-top: 9px;
    padding-bottom: 66px;

    .review-title {
      font-family: 'Pacifico', sans-serif;
      font-weight: 400;
      font-size: 70px;
      line-height: 140%;
      color: $title_color;
      text-align: center;
    }
    .reviews-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 34px;
      margin-left: auto;
      margin-right: auto;
      .reviews-list-item {
        border: 2px solid #000;
        border-radius: 12px;
        padding: 6px 14px;
        width: 288px;
        height: 237px;
        background-color: $main_bg_color;
        box-shadow: 6px 4px 3px 0 #000;
        .list-title {
          text-align: center;
          color: $title_color;
          font-style: italic;
          font-weight: 800;
          font-size: 19px;
          line-height: 125%;
        }
        .reviews-article {
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          color: $text_color;
          margin-top: 12px;
        }
      }
    }

    .pagination-box {
      display: flex;
      gap: 16px;
      justify-content: center;

      .pagination {
        margin-top: 24px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $accent_color;
        border: 1px solid $second_color;
      }
    }

    @include media(desktop) {
      .block-review {
        padding-bottom: 78px;
      }
      .reviews-list {
        margin-top: 78px;
        width: 1008px;
        gap: 30px 80px;

        justify-content: center;
        .reviews-list-item {
          border: 3px solid #000;
          border-radius: 20px;
          padding: 10px 24px;
          width: 464px;
          height: 237px;
          .list-title {
            font-size: 32px;
          }
          .reviews-article {
            margin-top: 9px;
            font-weight: 500;
            font-size: 24px;
            line-height: 133%;
            margin-top: 19px;
          }
        }
      }
      .pagination-box {
        display: none;
      }
    }
  }
}
