@import './header.scss';
@import '../layouts/hero.scss';

:root {
  font-family: 'Karla', sans-serif;
  font-weight: 400;

  color: $accent_color;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $main_bg_color;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 320px;

  @include media(desktop) {
    width: 1200px;
  }
}
