@import './header.scss';
@import './vite-promo.scss';
@import './privacy-policy.scss';
@import './terms-conditions.scss';
@import './footer.scss';

:root {
  font-family: Pacifico, Karla, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
